@use "./partials/variables" as *;
@use "./partials/fonts";
@use "./partials/setup";
@use "./partials/landingPage";

/**General styling**/
.App {
    text-align: center;
  }

  html{
    background: $colorBlack;
    max-height: 100vh;
    color: $colorWhite;
}
/**end General styling**/


