@use "variables" as *;

.carousel {
    margin-top: 2.5rem;
    @media (min-width:600px) {
        margin-top:0;
    }
  }

.slider{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 2.5rem;
        font-family: $headerFont; 
    }
    .slide{
        opacity: 0;
        transition: 1s ease;
    }
    .slide.active{
        display: flex;
        justify-content: center;
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
        text-align: center;
        .slide-card{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 0.5rem;
            .project-title{
                font-family: $headerFont;
                padding: 1rem;
                font-size: 1.5rem;
                text-transform: capitalize;
            }
            .image{
                width: 90%;
                height: auto;
                object-fit: cover;
                border-radius: 10px;
                @media (min-width:600px) {
                    width: 66%;
                }
                @media (min-width:800px) {
                    width: 50%;
                }
            }
            .project-text{
                width: 90%;
                padding: 2%;
                font-size: 1rem;
            }
            .button-container{
                margin:1rem 0;
            }
            .slider-button{
                margin:0 1rem;
                color: $colorBlack;
                text-shadow: none;
                font-weight: bold;
                text-transform: capitalize;
                cursor: pointer;
                padding:6px 12px;
                background:$colorWhite;
                border: 3px double $colorBlack;
                transition: all 200ms ease-in-out;
                border-radius: 5px;
                &:hover{
                    background-color: $colorYellow;
                }
                &:focus{
                    background-color:$colorYellow;
                }
            }
        }
        
    }
}

.arrow-container{
    padding: 1rem;
    margin: 1rem;
    .right-arrow{
        font-size: 3rem;
        z-index: 10;
        cursor: pointer;
        user-select: none;
        margin: 1rem;
        transition: all 200ms ease-in-out;
        &:hover{
            color: $colorYellow;
            }
            &:focus{
                color:$colorYellow;
            }
    }
    .left-arrow{
        font-size: 3rem;
        z-index: 10;
        cursor: pointer;
        user-select: none;
        margin: 1rem;
        transition: all 200ms ease-in-out;
        &:hover{
            color: $colorYellow;
            }
            &:focus{
                color:$colorYellow;
            }
    }
}
