@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway&family=Zen+Dots&display=swap');

// Color palette
$colorBlack: #353535;
$colorWhite:#FFFFFF;
$offWhite:#f6f6f6;
$colorGrey:#D9D9D9;
$colorBlue:#005d85;
// Mooby Color scheme
$colorPurple:#432966;
$colorYellow: #fed91f;
$colorOrange:#fe8c4e;


.flex-container{
    display: flex;
}
$headerFont: "Raleway";
// $headerFont: "Press Start 2P", ;
$altFont: "Zen Dots", Ubuntu;


// breakpoints
$wideDesktop:"1300px";
$desktop:"1200px";
$tablet:"810px";
$mobile:"420px";


/*@media (min-width or max-width:$wideDesktop) {
    css propertoes
}*/ 
/*@media (min-width or max-width:$desktop) {
    css propertoes
}*/ 
/*@media (min-width or max-width:$tablet) {
    css propertoes
}*/ 
/*@media (min-width or max-width:$mobile) {
    css propertoes
}*/ 

